.HeaderWrapper {
    width: 100vw;
    background-color: #000000;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .LinkContainer {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 2rem;
        a {
            background-color: #000000;
            text-decoration: none;
            font-size: 20px;
            padding: 0.5rem 1rem;
            letter-spacing: 5px;
            color: #ffffff;
            &:hover {
                color: rgb(255, 255, 255);
                border-bottom: 2px solid rgba(255, 255, 255, .6);
            }
        }
    }
    
}